:root {
  --primary-text-color: #757575;
  --section-title-color: #212121;
  --accent-color: #2196f3;
  --button-text-color: #ffffff;
  --dark-accent-color: #000000;
  --white-accent-color: #ffffff;
  --link-text-color: #757575;
  --features-bcg-cl: #f5f4fa;
  --features-icon-cl: rgba(245, 244, 250, 1);
  --socials-icons-fill: rgba(175, 177, 184, 1);
  --footer-radius-bcg: rgba(255, 255, 255, 0.1);
  --footer-rgba-cl: rgba(255, 255, 255, 0.6);

  --grey-bcg-cl: #c4c4c4;
  --button-bcg-cl: #f5f4fa;
  --team-bcg-cl: #f5f4fa;
  --dark-bcg-cl: #2f303a;
  --works-bcg-cl: rgba(47, 48, 58, 0.8);

  --clients-company-border: rgba(175, 177, 184, 1);
  --clients-company-cl: #afb1b8;
  --clients-company-hover: rgba(33, 150, 243, 1);

  --main-current-cl: rgba(33, 150, 243, 1);

  --border-main-cl: rgba(236, 236, 236, 1);

  --overlay-gradient-color: rgba(47, 48, 58, 0.4);

  --backdrop-color: rgba(0, 0, 0, 0.2);
  --modal-color: #ffffff;
  --form-icon-close: rgba(33, 33, 33, 1);

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
