.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.features__item {
  width: 270px;
  height: 251px;

  @media screen and (max-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.features__svg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;

  background-color: var(--features-bcg-cl);

  @media screen and (max-width: 1200px) {
    width: 270px;
  }

  @media screen and (max-width: 768px) {
    width: 354px;
  }

  @media screen and (max-width: 480px) {
    width: 450px;
  }
}

.features__icon {
  width: 70px;
  height: 70px;

  border-radius: 4px;
  fill: var(--features-icon-cl);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.features__text {
  margin-top: 30px;
}

.section .features__title--color {
  margin-top: 0px;
  margin-bottom: 10px;

  text-align: center;
  color: var(--section-title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.section .features__specialty {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.71;
}
