.filters {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.filters--main {
  color: var(--section-title-color);
  background-color: var(--button-bcg-cl);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  transition: background-color var(--animation), color var(--animation),
    box-shadov var(--animation);
}

.filters__list .filters__button-all {
  color: var(--button-text-color);
  background-color: var(--accent-color);
}

.filters__pointer {
  margin-bottom: 15px;
  border-radius: 4px;
  padding: 6px 22px;

  min-width: 73px;
  text-align: center;
}

.filters__button {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  margin-top: 0;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.filters__list {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}
