.header {
  border-bottom: 1px solid var(--border-main-cl);
  position: relative;
}

.header__nav-flex {
  @media screen and (min-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__nav .container {
  @media screen and (min-width: 767px) {
    margin: 0;
  }
}

.header__site-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.header__site-nav .link:hover,
.header__site-nav .link:focus,
.header__contacts .link:hover,
.header__contacts .link:focus {
  @extend %hoverfocus-cl;
}

.header__current {
  &::hover,
  &::focus {
    color: var(--main-current-cl);
  }
}

.header__current {
  @media screen and (min-width: 768px) {
    text-decoration: none;
    color: currentColor;
    position: relative;
  }
}

.header__current::after {
  display: none;

  @media screen and (min-width: 767px) {
    content: "";

    width: 100%;
    height: 4px;
    color: var(--main-current-cl);
    border-radius: 2px;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 1;

    transition: opacity var(--animation);
  }
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: auto;
}

.header__nav-top {
  display: block;
  padding-top: 21px;
}

.header__nav--phone {
  font-size: 34px;
  line-height: 1.18;
  padding-bottom: 21px;
  color: rgba(33, 150, 243, 1);
}

.header__nav--mail {
  font-size: 24px;
  line-height: 1.17;
  padding-top: 21px;
}

.header__site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.header__site-nav .link {
  color: var(--section-title-color);

  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-decoration: none;

  @media screen and (min-width: 767px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.header__contacts {
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }
}

.header__contacts .link {
  color: var(--link-text-color);

  letter-spacing: 0.02em;
  font-weight: 500;
  text-decoration: none;

  @media screen and (min-width: 768px) {
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding: 0;
    line-height: 1.14;
  }
}

.header__contacts .item:not(:last-child) {
  margin-right: 30px;
}

.header__contacts-link {
  color: var(--link-text-color);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.header--mail {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    width: 16px;
    height: 12px;
    margin-right: 10px;
    cursor: pointer;
    background-size: contain;
    fill: currentColor;
  }
}

.header--phone {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    width: 10px;
    height: 16px;
    margin-right: 10px;
    background-size: contain;
    fill: currentColor;
  }
}
