.overlay {
  max-width: 1600px;
  height: 600px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      var(--overlay-gradient-color),
      var(--overlay-gradient-color)
    ),
    url("../images/heroj.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (max-width: 480px) {
    max-width: 480px;
    height: 400px;
  }

  @media screen and (max-width: 768px) {
    max-width: 768px;
    height: 400px;
  }

  @media screen and (max-width: 1200px) {
    max-width: 1600px;
    height: 600px;
  }
}

.hero {
  background-color: var(--grey-bcg-cl);

  letter-spacing: 0.06em;
  text-align: center;
}

.hero__title {
  margin-top: 0px;
  margin-bottom: 30px;

  color: var(--white-accent-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;

  @media screen and (max-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
  @media screen and (max-width: 1199px) {
    font-size: 26px;
    line-height: 1.62;
  }
}
