.mobile__button {
  display: inline-flex;
  flex-direction: row-reverse;
  margin-left: auto;
  padding: 0;
  width: 40px;
  height: 40px;
  z-index: 100;
  border: none;
  background-color: transparent;
  cursor: pointer;
  fill: var(--section-title-color);

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile__button::hover,
.mobile__button::focus {
  fill: var(--accent-color);
  transition: fill var(--animation);
}

.mobile__button .mobile__button-close {
  display: none;
}

.mobile__button.is-open .mobile__button-close {
  display: block;
}

.mobile__button.is-open .mobile__button-menu {
  display: none;
}

.mobile-menu {
  overflow-y: scroll;

  background-color: var(--white-accent-color);

  @media screen and (max-width: 767px) {
    display: none;
    position: fixed;
    top: 0;
    right: 0;

    width: 100%;
    height: 100vh;
    z-index: 99;
  }

  &.is-open {
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
}

.mobile__navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.mobile__socials {
  display: flex;
  padding-left: 0;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile__socials-item:not(:last-child) {
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile__socials-link {
  margin-right: 10px;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
  color: var(--accent-color);
}
