.team {
  text-align: center;
  background-color: var(--team-bcg-cl);
}

.team__master .list {
  text-align: center;

  color: var(--section-title-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__master-post {
  text-align: center;

  font-size: 16px;
  line-height: 1.19;
  margin-top: 10px;
  margin-bottom: 0;
}

.team__border {
  flex-basis: 100%;
  text-align: center;

  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border-top: transparent;
  background-color: var(--white-accent-color);

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    width: 354px;
    margin-right: 30px;
  }

  &:last-child {
    margin-right: 0px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 4 * 30px) / 4);
    margin-bottom: 0px;
  }
}

.team__text--padding {
  padding-top: 30px;
  padding-right: 32px;
  padding-bottom: 30px;
  padding-left: 32px;
}
